table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container{
  display: 'flex';
  justify-content: 'space-between'; 
  align-items: 'center'
}